.form {
  display: inline-block;
  text-align: left;
}

.form button {
  vertical-align: top;
}

.form .checkboxes,
.form .radioButtons {
  border: solid blue 1px;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.form .row label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 90px;
}

.form input,
.form select,
.form textarea {
  border-radius: 4px;
  margin-right: 10px;
  padding: 4px;
}

.form .row {
  margin-top: 10px;
}
